$white: #fff;
$off-white: #fdfaf8;
$black: #2b2b2b;

$gray-lightest: #f5f4f1;
$gray-light: #e0ddd3;
$gray: #83888f;
$gray-dark: #666d78;
$gray-darkest: #494f57;

$blue-dark: #2762ae;
$blue: #7398c8;
$blue-light: #bccee5;

$aqua-dark: #87c9e2;
$aqua-light: #c4e5f1;

$green-dark: #006838;
$green: #89afa2;
$green-light: #c3d7d1;

$yellow-dark: #c98c00;
$yellow: #fdc559;
$yellow-light: #fee7ba;

$orange-dark: #89440a;
$orange: #e87411;
$orange-light: #f4aa6b;

$red-dark: #a93225;
$red-light: #d89088;

$font-sans: "Muli", sans-serif;
$font-serif: "Lora", serif;

$bp-small: 24em;
$bp-small-2: 29.75em;
$bp-small-3: 39.8em;
$bp-med: 46.8em;
$bp-med-2: 48em;
$bp-large: 50em;
$bp-large-2: 66em;
$bp-xl: 73em;
$bp-xxl: 89em;
$bp-xxxl: 93em;

$max-tab: max-width 44em;
$max-tab-desk: max-width 54em;

$tab: 44em;
$tab-desk: 54em;
$desk: 70em;
$max-width: 72em;

$rwd-tables: max-width 1000px;

$global-border-radius: 6px;
