$white: #fff;
$off-white: #fdfaf8;
$black: #2b2b2b;

$gray-lightest: #f5f4f1;
$gray-light: #e0ddd3;
$gray: #83888f;
$gray-dark: #666d78;
$gray-darkest: #494f57;

$blue-dark: #2762ae;
$blue: #7398c8;
$blue-light: #bccee5;

$aqua-dark: #87c9e2;
$aqua-light: #c4e5f1;

$green-dark: #006838;
$green: #89afa2;
$green-light: #c3d7d1;

$yellow-dark: #c98c00;
$yellow: #fdc559;
$yellow-light: #fee7ba;

$orange-dark: #89440a;
$orange: #e87411;
$orange-light: #f4aa6b;

$red-dark: #a93225;
$red-light: #d89088;

$font-sans: "Muli", sans-serif;
