.node__content img {
  margin: 0;
}

.views-field-field-location-image img {
  border: 1px solid $gray-light;
  border-radius: 4px;
  display: inline-block;
  margin: 0.7em 0 1em;
  padding: 0.25em;
  width: 100%;
}
