html {
  font-size: 16px;
}

body {
  font-family: $font-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-sans;
}

.media-heading {
  margin-top: 0;
}

.media-body {
  display: block;
  overflow: hidden;
}

.media-image {
  float: left;
  margin-right: 0.5em;
}
