

.dept-name span {
  font-size: .6em;
  margin-left: 0;
  display: block;
  font-family: Muli;
  line-height: .6em;
}


.navbar-brand h2 {
   display:inline-block;
   color:#333;
   margin-left: 5px;
  }

.navbar-brand h2 {
  font-size: 20px;
}

.navbar-brand img {
  height:50px;
}
