.node__content img {
  margin: 1em;
}

.file-image {
  color: $gray-dark;
  font-family: $font-sans;
  font-size: 0.8em;
  line-height: 1.2em;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;

  img {
    display: block;
    margin: 0 auto 1em;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
  }
}

.field--name-field-file-image-caption, .field--name-field-file-image-citation, .field--name-field-citation-with-link {
    font-family: $font-sans;
    font-size: 12px;
    margin-top: 5px;
    color: #999;
}

.field--name-field-file-image-citation, .field--name-field-citation-with-link {
  font-style: italic;
}
