
.view-rbsc-databases select {
  height: 100%;
  min-width: 200px;
}

.view-rbsc-databases button {
  width: 300px;
}

.help-block,
.help-inline {
  color: $gray;
  display: block;
  font-size: 0.8em;
  line-height: 1.4em;
  margin: 5px 0 10px;
  padding: 0;
}

.form-group {
  margin-bottom: 1.5em;
}
